<script type="text/javascript" src='https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ with .Get "key" }}{{ . }}{{ else }}{{ .Site.Params.params.naverMapApiKey }}{{end}}'></script>
<div class="shortcode shortcode--naver-map">
	<div id="map" style='width:{{ with .Get "width" }}{{.}}{{else}}500px{{end}}; height:{{ with .Get "height" }}{{.}}{{else}}300px{{end}}'>
	</div>
</div>
<script id="code">
//var map = new naver.maps.Map('map');
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.4696805, 127.04) // 이노팩토리 위치
});
map.setOptions({ //모든 지도 컨트롤 보이기
            scaleControl: true,
            logoControl: true,
            mapDataControl: true,
            zoomControl: true,
            mapTypeControl: true
        });
</script>